#carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  .opacity(0);
  float: right;
  display: block;
  max-width: calc(~"100% - 300px");
  position: relative;

    ul.slides {
      .plain-list;

        li.slide {
          .scale(1);
          margin: 0;
          padding: 0;
          width: 100%;
          float: left;
          display: block;
          position: static;
          vertical-align: middle;
          transform-origin: 0 50%;
          .transition(all @trans-speed ease);

            &.slide.pre,
            &.slide.following { .scale(.9); }

            figure {
              margin: 0;
              width: 100%;
              float: right;
              .opacity(.5);
              position: relative;
              .transition(all @trans-speed ease);
            }//figure

            &.active figure{ .opacity(1); }

            img {
              margin: 0;
              width: 100%;
              height: auto;
              display: block;
            }//img
        }//li
    }//ul

    .slider__arrows {
      top: 50%;
      z-index: 20;
      left: -30px;
      width: 215px;
      margin-top: 0px;
      position: absolute;
      .transition(all @trans-speed ease);
      transform: translate(-50%, -50%);

        .slider__arrows-item {
          margin: 0;
          width: 95px;
          height: 95px;
          border: none;
          .opacity(.5);
          cursor: pointer;
          text-decoration: none;
          .rounded-corners(50%);
          -webkit-backface-visibility: hidden;
          background: url(img/slider-controls@2x.png) 0 0 no-repeat;
          background-size: 200% auto;

            &.slider__arrows-item--right { float: right; background-position: -95px 0; }
            &.slider__arrows-item--left { float: left; }
            &:hover { .opacity(1); .box-shadow(none); }
        }//.slider__arrows-item

        @media @tablet, @mobile-lg, @mobile {
          left: -15px;
          width: 120px;

            .slider__arrows-item {
              width: 50px;
              height: 50px;

                &.slider__arrows-item--right { background-position: 100% 0; }
            }//.slider__arrows-item
        }//@tablet
    }//.slider__arrows

    &.is-visible { .opacity(1); }

    @media @mobile-lg, @mobile {
      max-width: calc(~"100% - 80px");

        ul.slides {
          li.slide {
            transform-origin: 50% 50%;

            &.slide.pre,
            &.slide.following { .scale(.9); }
          }//.slide
        }//.slides
    }//@mobile
}//#carousel


.slider-copy {
  width: 300px;
  z-index: 10;
  float: left;
  height: 100%;
  overflow: hidden;
  min-height: 490px;
  position: relative;
  padding-right: 8.5%;
  .box-shadow(-30px 20px 0 30px #f7f7f7);
  background: #f7f7f7; //url(img/gallery-bg-repeat@2x.png) 0 95px repeat;
  //background-size: 566px 306px;

    .slider-wrap { overflow: hidden; }

    h2 { font-size: 40px; }

    p { padding-right: 35%; }

    .service {
      top: 0;
      left: 0;
      z-index: 0;
      .opacity(0);
      padding-top: 15%;
      position: absolute;
      .transition(all .25s ease);
      transform: translate3d(0px, 15%, 0px);

        &.active {
          .opacity(1);
          z-index: 10;
          transform: translate3d(0px, 0px, 0px);
        }//.active
    }//.service

    @media @tablet {
      min-height: 390px;

        .service {
          padding-top: 0;

            p { padding-right: 20%; }
            h2 { font-size: 32px; }
        }//.service
    }//@tablet

    @media @mobile-lg, @mobile {
      display: none;
    }
}//.slider-copy
