//Footer styles
footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 50px 0;
  font-size: 14px;
  min-height: 300px;
  color: @main-gray;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: @font-family-base;
  background: url(img/footer-bg-repeat@2x.png) bottom left repeat-x;
  background-size: 1006px 210px;
}//footer
