// Front-page styles
.site-content {
  z-index: 100;
  background: @white;
  min-height: 2000px;
  position: relative;
  padding-top: 125px;
  margin-bottom: 355px;

  #home-hero {
    height: 650px;
    overflow: hidden;
    position: relative;
    background: @main-gray;;
  }//.hero
}//.body-content
