// Front-page styles
.site-content {
  z-index: 100;
  max-width: 100%;
  overflow: hidden;
  background: @white;
  position: relative;
  padding-top: 125px;
  margin-bottom: 300px;
  .box-shadow(0 0 20px rgba(0, 0, 0, 0.15));


// Hero Section
  #home-hero {
    height: 650px;
    overflow: hidden;
    position: relative;
    background: @main-gray;;
  }//.hero


// CTA Section
  .cta {
    padding: 35px 0;
    background-color: @purple2;
    background-image: url(img/cta-bg-repeat.png);
    background-size: 294px 150px;
    background-repeat: repeat;
    background-position: 0 0;

      .headline {
        color: @white;
        font-size: 22px;
        margin-bottom: 0;
        line-height: 120%;
        font-family: @font-family-base;

          &.main {
            font-size: 42px;
            font-family: @font-family-headings;
          }//.main
      }//.headline

      .c-align { align-items: center; }
      .r-align { text-align: right; }//.r-align
  }//.cta


// About Section
  #home-about {
    background: @white;

      > .container {
        padding-top: 90px;
        max-width: 1200px;
        background: @white;
        position: relative;
        text-align: center;
        padding-bottom: 90px;

          &:before,
          &:after {
            top: 0;
            left: 100%;
            content: "";
            height: 100%;
            width: 3000px;
            display: block;
            position: absolute;
            background: url(img/shape-2bg-repeater@2x.png) 0 0 repeat;
            background-size: 780px auto;
          }//:before, :after

          &:after {
            left: auto;
            right: 100%;
          }//:after
      }//.container

      span {
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
      }//span

      p {
        font-size: 18px;
        max-width: 650px;
        margin: 0 auto 50px;
      }//p

      .block {
        width: 25%;
        min-width: 260px;
        padding-top: 165px;
        position: relative;
        margin: 0 -4px 20px 0;
        display: inline-block;

          &:before {
            top: 0;
            left: 50%;
            content: "";
            width: 130px;
            height: 130px;
            .translateX(-50%);
            position: absolute;
            background: url(img/main-sprite@2x.png) 0 -150px no-repeat;
            background-size: 843px 450px;
          }//:before

          &.blb:before { background-position: -131px -150px; }
          &.crt:before { background-position: -262px -150px; }
          &.hrt:before { background-position: -393px -150px; }

          h3 {
            margin: 0;
            font-size: 22px;
            color: @main-gray;
          }
      }//.block
  }//#home-about


// Availability Section
  #home-avail {
    padding: 50px 0;
    background: rgba(255, 0, 0, .25);
  }//#home-avail

}//.body-content
