// Front-page styles
.site-content {
  z-index: 100;
  max-width: 100%;
  overflow: hidden;
  background: @white;
  position: relative;
  padding-top: 125px;

    section { min-height: 100px; }

// Hero Section
  #h-hero {
    height: 650px;
    overflow: hidden;
    position: relative;
    background: @main-gray;;
  }//.hero


// CTA Section
  .cta {
    padding: 35px 0;
    background-color: @purple2;
    background-image: url(img/cta-bg-repeat.png);
    background-attachment: fixed;
    background-size: 294px 150px;
    background-repeat: repeat;
    background-position: 0 0;

      .headline {
        color: @white;
        font-size: 22px;
        margin-bottom: 0;
        line-height: 120%;
        font-family: @font-family-base;

          &.main {
            font-size: 42px;
            font-family: @font-family-headings;
          }//.main
      }//.headline

      .c-align { align-items: center; }
      .r-align { text-align: right; }//.r-align
  }//.cta


// About Section
  #h-about {
    background: @white;

      > .container {
        padding-top: 90px;
        max-width: 1200px;
        background: @white;
        position: relative;
        text-align: center;
        padding-bottom: 90px;

          &:before,
          &:after {
            top: 0;
            left: 100%;
            content: "";
            height: 100%;
            width: 3000px;
            display: block;
            position: absolute;
            background: url(img/shape-2bg-repeater@2x.png) 0 0 repeat;
            background-size: 780px auto;
          }//:before, :after

          &:after {
            left: auto;
            right: 100%;
          }//:after
      }//.container

      span {
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
      }//span

      p {
        font-size: 18px;
        max-width: 650px;
        margin: 0 auto 50px;
      }//p

      .block {
        width: 25%;
        min-width: 200px;
        padding-top: 165px;
        position: relative;
        margin: 0 -4px 20px 0;
        display: inline-block;

          &:before {
            top: 0;
            left: 50%;
            content: "";
            width: 130px;
            height: 130px;
            .translateX(-50%);
            position: absolute;
            background: url(img/main-sprite@2x.png) 0 -150px no-repeat;
            background-size: 843px 450px;
          }//:before

          &.blb:before { background-position: -131px -150px; }
          &.crt:before { background-position: -262px -150px; }
          &.hrt:before { background-position: -393px -150px; }

          h3 {
            margin: 0;
            font-size: 22px;
            color: @main-gray;
          }
      }//.block
  }//#home-about


// Availability Section
  #h-avail {
    overflow: hidden;
    background-color: #b9e8de;

      .container.xsml {
        .clearfix;
        float: left;
        padding-top: 50px;
        padding-left: 80px;
        padding-bottom: 50px;
      }//.xsml

      .availability {
        .avail-range {
          display: block;
          font-size: 30px;
          margin-bottom: 10px;
        }//.avail-range

        p { font-size: 18px; }


        blockquote {
          padding: 20px;
          position: relative;
          padding-left: 120px;
          margin-left: -100px;
          background: #8cdccc;
          margin-bottom: 40px;

            &:before {
              top: 28px;
              content:"";
              left: 58px;
              width: 38px;
              height: 26px;
              display: block;
              position: absolute;
              background: url(img/blockquote@2x.png) 0 0 no-repeat;
              background-size: 38px 26px;
            }//:before

            &:after {
              top: 0;
              bottom: 0;
              left: 100%;
              content: "";
              width: 3000px;
              display: block;
              position: absolute;
              background: #8cdccc;
            }//:after

            span.source {
              display: block;
              margin-top: 10px;
              text-align: right;
            }//.source
        }//blockquote
      }//.availability
  }//#home-avail



  #h-additional {
    padding: 70px 0;
    min-height: 500px;
    background: url(img/background-02.png) 0 0 repeat;
    background-size: 1100px 400px;
    background-attachment: fixed;
  }//#h-additional



  #h-bio {
    padding: 100px 0;
    min-height: 500px;
    background: #f7f7f7 url(img/shape-3bg-repeater@2x.png) 0 0 repeat;
    background-size: 568px 565px;
  }//#h-additional


// Contact Section
  #h-contact {
    .clearfix;

      .col-4 {
        float: left;
        padding: 20px;
        width: 33.332%;
        line-height: 140%;
        text-align: center;
        position: relative;

          &.ico {
            padding-top: 100px;

              &:before {
                top: 20px;
                left: 50%;
                content: "";
                width: 55px;
                height: 55px;
                .translateX(-50%);
                position: absolute;
                background: url(img/main-sprite@2x.png) 5px -390px no-repeat;
                background-size: 843px 450px;
              }//:before

              &.email:before { background-position: -62px -390px; }
              &.clock:before { background-position: -127px -390px; }
          }//.ico

          p {
            color: @purple;
            font-size: 24px;
            margin-bottom: 5px;
          }

          small {
            font-size: 14px;
            color: @main-gray;
          }//small
      }//.col-4

      form {
        text-align: center;
        margin-bottom: 120px;
      }//form
  }//#h-contact

}//.body-content
