//--------------------
// HEADER STYLES
//--------------------
@import "navigation.less";

header.site-header {
	left: 0;
	right: 0;
	padding: 0;
	height: 125px;
	position: fixed;
	background: @white;
	z-index: (@zindex-base + 1);
	.transition(all @trans-speed ease);

		> .container {
			min-height: 125px;
			max-width: 1320px;
			position: relative;
		}//.container

		.b1 { display: none; }
		.logo {
			z-index: 500;
			width: 261px;
			height: 115px;
			display: block;
			padding-top: 31px;
			position: relative;
			.transition(all @trans-speed ease);
			background: url(img/ww-logo@2x.png) left bottom no-repeat;
			background-size: 100% auto;

				> a {
					.hide-text;
					width: 100%;
					height: 100%;
					display: block;
				}//a
		}//.logo

		.menu-btn { display: none; }

		&.scrolled {
			height: 70px;
			.box-shadow(0 0 20px rgba(0, 0, 0, 0.15));

				> .container { min-height: 70px; }

				.logo {
					width: 160px;
					height: 62px;
					padding-top: 10px;
					background-size: 100% auto;
				}//.logo


				nav.main-navigation {
					ul {
						> li {
							a {
								@media @desktop, @desktop-med, @desktop-sml {
									padding: 15px 20px;
										&:before,
										&:after { height: 0; top: -10px; .opacity(0); }
								}
							}
						}
					}
				}
		}//.scrolled



		@media @tablet, @mobile-lg, @mobile {
			height: 90px;
			z-index: 1000;

				> .container {
					height: 90px;
					min-height: 90px;
					position: relative;

						.b1 {
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: 100;
							display: block;
							position: absolute;
							background: @white;
						}//.b1
				}// >.container

				.logo {
					width: 200px;
					height: 76px;
					z-index: 300;
					padding-top: 12px;
				}

				&.scrolled {
					height: 90px;

						> .container { height: 90px; }

						.logo {
							width: 200px;
							height: 76px;
							padding-top: 12px;
						}
				}

				.menu-btn {
					top: 30px;
					right: 20px;
					z-index: 200;
					display: block;
					cursor: pointer;
					position: absolute;

						.toggle {
							margin: 0 ;
							width: 30px;
							height: 20px;
							position: relative;
							display: inline-block;
							vertical-align: middle;

								> span {
									top: 0;
									left: 0;
									right: 0;
									width: 28px;
									height: 3px;
									margin: 0 auto;
									display: block;
									position: absolute;
									.rounded-corners(4px);
									background: @main-gray;
									.transition(all @trans-speed ease);

										&:nth-of-type(2),
										&:nth-of-type(3) { top: 8px; }
										&:nth-of-type(4) { top: 16px }
								}//>span
						}//.toggle

						> span {
							//menu text
							font-size: 16px;
							color: @main-gray;
							margin: 0 5px 0 0;
							letter-spacing: 2px;
							display: inline-block;
							vertical-align: middle;
							//text-transform: uppercase;
							font-family: @font-family-headings;
							.transition(color @trans-speed ease);
						} // > span

						&:hover {
							> span { color: @red; }
							.toggle span { background: @red; }
						}//:hover

						&.active {
							.toggle {

								span {
									background: @purple;
									transform-orogin: 50% 50%;

										&:nth-of-type(2) { .rotate(-45deg); }
										&:nth-of-type(3) { .rotate(45deg); }
										&:nth-of-type(1),
										&:nth-of-type(4) { top: 8px;  width: 0; .opacity(0); }
								}
							}
						}


						&:hover { text-decoration: none; }
				}//end .menu-btn
		}//@mobile

}//end header.site-header
