// Paralaxing image row styles
.image-row {
  display: flex;
  margin: 0 -30px;
  flex-wrap: nowrap;
  min-height: 640px;
  padding: 100px 0;
  justify-content: center;

    &.image-right {
      .column.image { order: 1; }
      .column.text { order: 0; }
    }//.image-right

    &.image-left {
      .column.image { order: 0; }
      .column.text { order: 1; }
    }//.image-left

    .column {
      order: 0;
      padding: 0;
      float: none;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      padding: 0 35px;
      position: relative;
      flex-direction: row;
      -ms-flex-negative: 1;

        &.image {
          img {
            margin: 0;
            position: absolute;
            display: inline-block;

              &.p-image { z-index: 20; max-width: 505px; }//.p-image
              &.p-background { z-index: 0; max-width: 680px; }
              &.p-foreground { z-index: 40; }
            }//img

            &.image-1 {
              img {
                &.p-image { right: 0; top: 40px; }
                &.p-background { left: 30px; top: -80px; }
                &.p-foreground { left: 90px; top: 80px; }
              }//img
            }//&.image-1

            &.image-2 {
              img {
                &.p-image { left: 0; top: 40px; }
                &.p-background { right: 30px; top: -40px; }
                &.p-foreground { right: 105px; top: 40px; }
              }//img
            }//&.image-2

            &.image-3 {
              img {
                &.p-image { right: 0; top: 40px; }
                &.p-background { left: 170px; top: 0px; max-width: 570px; }
                &.p-foreground { left: 120px; top: 90px; }
              }//img
            }//&.image-3

            &.image-4 {
              min-height: 680px;

                img {
                  &.p-image { right: 80px; top: 40px; max-width: 650px; }
                  &.p-background { right: 20px; top: -140px; max-width: 750px; }
                  &.p-foreground { right: 40px; top: 30px; max-width: 615px; }
                }//img
            }//.image-4
        }//.image


        &.text {
          font-size: 18px;
          text-align: left;
          align-self: center;

            .sub-headline {
                &.squiggle { margin-bottom: 20px; }
            }//.sub-headline

            h2.headline:not(.squiggle) { margin-bottom: 0; }
        }//.text
    }//.column

    @media @tablet, @mobile-lg, @mobile {
      padding: 50px 0;
      min-height: 550px;

      &#target4 { margin-top: 50px; }

        .column {
            &.text { z-index: 500; }

            &.image {

              img.p-image { max-width: 100% !important; }

              &.image-1 {
                img {
                  &.p-image { right: 0; top: 40px; }
                  &.p-background { left: -100px; top: -100px; }
                  &.p-foreground { left: 0px; top: 100px; }
                }//img
              }//&.image-1

              &.image-2 {
                img {
                  &.p-image { left: 0; top: 40px; }
                  &.p-background { right: 30px; top: -40px; }
                  &.p-foreground { right: 15px; top: 40px; }
                }//img
              }//&.image-2

              &.image-3 {
                img {
                  &.p-image { right: 0; top: 40px; }
                  &.p-background { left: 40px; top: 0px; max-width: 570px; }
                  &.p-foreground { left: -20px; top: 90px; }
                }//img
              }//&.image-3

              &.image-4 {
                min-height: 680px;

                  img {
                    &.p-image { right: 0px; left: auto; top: 0px; max-width: 100%; }
                    &.p-background { right: 0px; top: -120px; max-width: 120%; }
                    &.p-foreground { right: -20px; top: 30px; max-width: 100%; }
                  }//img
              }//.image-4
            }//.image
        }//.column
    }//@media

    @media @mobile-lg, @mobile {
      padding: 40px 0 0;
      flex-wrap: wrap;
      min-height: 1px;

        .column {
          flex-basis: 100%;

          &.image {
             img {
               &.p-image {
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 position: relative;
                 margin-bottom: 30px;
               }//.p-image

               &.p-foreground,
               &.p-background { .opacity(.5); }
             }//img
             &.image-4 { min-height: 510px; }
          }//.image

          &.text {
            padding-top: 40px;

              .headline,
              .sub-headline {
                &.l-align {
                  text-align: center;

                    &.squiggle {
                      &:after { left: 50%; .translateX(-50%); }
                    }//.squiggle
                }//l-align
              }//.headline
          }//.text
        }//.column

        &.image-left {
          .column.image { order: 0; }
          .column.text { order: 1; }
        }//.left

        &.image-right {
          .column.image { order: 0; }
          .column.text { order: 1;}
        }//.right
    }//@mobile

    @media @iphone {
      .column.image.image-4 { min-height: 380px; }
    }
}//.image-row
