// Paralaxing image row styles
.image-row {
  display: flex;
  margin: 0 -30px;
  flex-wrap: nowrap;
  min-height: 640px;
  padding: 100px 0;
  justify-content: center;

    &.image-right {
      .column.image { order: 1; }
      .column.text { order: 0; }
    }//.image-right

    &.image-left {
      .column.image { order: 0; }
      .column.text { order: 1; }
    }//.image-left

    .column {
      order: 0;
      padding: 0;
      float: none;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      padding: 0 35px;
      position: relative;
      flex-direction: row;
      -ms-flex-negative: 1;

        &.image {
          img {
            margin: 0;
            position: absolute;
            display: inline-block;

              &.p-image { z-index: 20; max-width: 505px; }//.p-image
              &.p-background { z-index: 0; max-width: 680px; }
              &.p-foreground { z-index: 40; }
            }//img

            &.image-1 {
              img {
                &.p-image { right: 0; top: 40px; }
                &.p-background { left: 30px; top: -80px; }
                &.p-foreground { left: 105px; top: 80px; }
              }//img
            }//&.image-1

            &.image-2 {
              img {
                &.p-image { left: 0; top: 40px; }
                &.p-background { right: 30px; top: -40px; }
                &.p-foreground { right: 105px; top: 40px; }
              }//img
            }//&.image-2

            &.image-3 {
              img {
                &.p-image { right: 0; top: 40px; }
                &.p-background { left: 170px; top: 0px; max-width: 570px; }
                &.p-foreground { left: 120px; top: 90px; }
              }//img
            }//&.image-3
        }//.image


        &.text {
          font-size: 18px;
          text-align: left;
          align-self: center;

            .sub-headline {
                &.squiggle { margin-bottom: 20px; }
            }//.sub-headline

            h2.headline:not(.squiggle) { margin-bottom: 0; }
        }//.text
    }//.column
}//.image-row
