// Reset
@miport "ress.less";
@import "base.less";

// Fonts
 @import "fonts.less";

// Core variables and mixins
@import "variables.less";
@import "mixins.less";
@import "global.less";

// Structure Styles
@import "forms.less";
@import "header.less"; // includes navigation.less
@import "footer.less";
@import "front-page.less";

// Layout Styles
@import "grid.less";
@import "image-row.less";

// Component Styles
@import "buttons.less";
@import "flexslider-base.less";
@import "flexslider-custom.less";
@import "carousel.less";

// Helper Styles
@import "touch.less";
@import "wp-helper.less";
@import "print.less";

// Debugging Stuff
#test {
  right: 15px;
  color: @red;
  bottom: 10px;
  z-index: 500000;
  position: fixed;
  font-size: 18px;
  font-weight: bold;
}


//Start Base Layout Styles
.site-wrap {
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto 300px;
  .box-shadow(0 0 20px rgba(0, 0, 0, 0.15));
}

.container {
  width: 100%;
  .center-block;
  max-width: 1280px;
  padding: 0px 20px;
  .box-sizing(border-box);

    &.slim { max-width: 1070px; }
    &.xsml { max-width: 770px; }
}//.container
